[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Denis Krivosheev (denistakeda)
[access "refs/for/refs/*"]
	read = group user/Denis Krivosheev (denistakeda)
	push = group user/Denis Krivosheev (denistakeda)
	label-Code-Review = -2..+2 group user/Denis Krivosheev (denistakeda)
	label-Verified = -1..+1 group user/Denis Krivosheev (denistakeda)
	rebase = group user/Denis Krivosheev (denistakeda)
	removeReviewer = group user/Denis Krivosheev (denistakeda)
	submit = group user/Denis Krivosheev (denistakeda)
[access "refs/heads/*"]
	read = group user/Denis Krivosheev (denistakeda)
	create = group user/Denis Krivosheev (denistakeda)
	push = +force group user/Denis Krivosheev (denistakeda)
	pushMerge = group user/Denis Krivosheev (denistakeda)
[access "refs/tags/*"]
	push = +force group user/Denis Krivosheev (denistakeda)
	pushTag = group user/Denis Krivosheev (denistakeda)
	pushSignedTag = group user/Denis Krivosheev (denistakeda)
